pandas~=2.2.3
python-terrier
numpy~=2.1.2
faiss-cpu~=1.11.0
matplotlib~=3.10.1
nltk~=3.9.1
torch~=2.6.0+cu126
sentence-transformers~=4.1.0
scikit-learn~=1.6.1
transformers~=4.52.4
streamlit~=1.45.1
tqdm~=4.67.1